body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #2d5d9b;  /* Azul para el encabezado */
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #2d5d9b;
    font-size: 1.8em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2d5d9b;
    color: white;
    margin-top: 40px;
}

a {
    color: #2d5d9b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-gallery img {
    margin: 10px;
    border-radius: 8px;
}
